html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Garantir que a altura ocupe 100% da tela */
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#010101, #2F2F2F); /* Gradiente já configurado */
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;  /* Organiza os elementos em coluna */
    justify-content: flex-start;
    align-items: center;
    width: 100%;  /* Formulário ocupa 100% da largura */
    max-width: 500px;  /* Aumenta a largura máxima do formulário */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;  /* Centraliza o texto do parágrafo */
}

p {
    font-size: 35px; /* Fonte maior */
    font-weight: 600; /* Peso da fonte */
    color: white;
    margin-bottom: 15px; /* Diminui o espaço entre o título e o formulário */
}

input[type="text"], input[type="date"], input[type="number"] {
    width: 550px; /* Ocupa 100% da largura do contêiner */
    max-width: 500px; /* Aumenta a largura máxima dos inputs */
    height: 45px;  /* Altura reduzida */
    border-radius: 30px; /* Bordas mais suaves */
    text-indent: 15px;  /* Indenta o texto */
    padding: 0 8px;  /* Menos padding */
    box-sizing: border-box;
    background-color: #D9D9D9;
    position: relative; /* Para manipular a posição do ícone de calendário */
}

/* Ajuste para os dois textarea */
textarea {
    resize: none; /* Desabilita a manipulação do tamanho */
    width: 100%;  /* Ocupa 100% da largura do contêiner */
    max-width: 500px; /* Aumenta a largura máxima dos inputs */
    height: 45px;  /* Altura reduzida */
    border-radius: 30px; /* Bordas mais suaves */
    padding-left: 20px;  /* Espaçamento à esquerda para o texto e placeholder */
    padding-top: 10px;  /* Espaçamento superior */
    padding-bottom: 10px; /* Espaçamento inferior */
    box-sizing: border-box;
    background-color: #D9D9D9;
    position: relative; /* Para manipular a posição do ícone de calendário */
    vertical-align: middle;  /* Centraliza o texto verticalmente */
    line-height: 1.5;  /* Alinha o texto verticalmente no meio */
}

/* Estilo para o placeholder */
textarea::placeholder {
 
    padding-left: 5px;  /* Leve espaçamento à esquerda */
}




/* Estilo para o botão */
button {
    width: 100%;
    max-width: 500px; /* Ajusta a largura do botão */
    height: 45px; /* Altura reduzida */
    border-radius: 30px;
    background-color: #1F1E1E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;  /* Fonte menor */
    margin-top: 15px; /* Menor espaço entre o botão e os campos */
}



form{
    display: flex;
    flex-direction: column;
    gap:10px;
}

select{
    width: 550px; /* Ocupa 100% da largura do contêiner */
    max-width: 500px; /* Aumenta a largura máxima dos inputs */
    height: 45px;  /* Altura reduzida */
    border-radius: 30px; /* Bordas mais suaves */
    text-indent: 10px;  /* Indenta o texto */
    padding: 0 8px;  /* Menos padding */
    box-sizing: border-box;
    background-color: #D9D9D9;
}


input[type="date"] {
    width: 100%;  /* Ocupa 100% da largura do contêiner */
    max-width: 500px; /* Aumenta a largura máxima dos inputs */
    height: 45px;  /* Altura reduzida */
    border-radius: 30px; /* Bordas mais suaves */
    text-indent: 5px;  /* Indenta o texto */
    padding: 0 8px;  /* Menos padding */
    box-sizing: border-box;
    background-color: #D9D9D9;
    position: relative; /* Para manipular a posição do ícone de calendário */
}


input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;  /* Ajuste a posição do ícone */
    top: 50%;
    transform: translateY(-50%);  /* Centraliza verticalmente */
    cursor: pointer;
}