@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    padding-left: 250px; /* Espaço para a navbar */
    position: relative; /* Para permitir o posicionamento absoluto do formulário */
}

main {
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

main table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

main th, main td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

main th {
    background-color: #f4f4f4;
}

main tr:nth-child(even) {
    background-color: #f9f9f9;
}

main tr:hover {
    background-color: #eaeaea;
}

/* Estilo da Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #010101;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-weight: 200;
}

/* Estilo do conteúdo da Navbar */
.logo-container img {
    width: 150px;
    margin-bottom: 10px;
}

.logo-container {
    text-align: center;
    margin-bottom: 40px;
}

.nav-links p {
    font-size: 19px;
    margin: 0;
    margin-bottom: 20px;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.formulario {
    position: absolute; /* Para posicionar no canto */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    display: flex;
    gap: 10px;
}

.formulario input {
    padding: 5px 30px 5px 10px; /* Ajusta o padding para dar espaço para o ícone */
    font-size: 14px;
    border: none; /* Remove a borda padrão */
    border-bottom: 2px solid #010101; /* Adiciona uma linha embaixo do input */
    background: transparent; /* Remove o fundo do input */
    width: 200px; /* Definindo uma largura para o input */
}

.formulario input:focus {
    outline: none; /* Remove a borda de foco */
    border-bottom-color: #00bcd4; /* Muda a cor da linha de foco */
}

.formulario input::placeholder {
    color: #888; /* Cor do placeholder */
}

.formulario button {
    width: 100%;
    max-width: 500px; /* Ajusta a largura do botão */
    height: 45px; /* Altura reduzida */
    border-radius: 30px;
    background-color: #1F1E1E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;  /* Fonte menor */
    margin-top: 15px; /* Menor espaço entre o botão e os campos */
}

/* Adiciona o ícone de lupa */
.formulario input::before {
    content: "\f002"; /* Código do ícone de lupa no Font Awesome */
    font-family: "Font Awesome 5 Free"; /* Fonte do Font Awesome */
    font-weight: 900; /* Define o peso para o ícone */
    position: absolute;
    top: 50%;
    left: 10px; /* Posiciona o ícone dentro do input */
    transform: translateY(-50%); /* Centraliza verticalmente */
    color: #010101; /* Cor do ícone */
}


