@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: "Poppins", sans-serif; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #010101;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-weight: 200;
}

/* Estilo do conteúdo da Navbar */
.logo-container img {
    width: 150px;
    margin-bottom: 10px;
}

.logo-container {
    text-align: center;
    margin-bottom: 40px;
}

.nav-links p {
    font-size: 19px;
    margin: 0;
    margin-bottom: 20px;
    
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

button#visualizarpedido {
    font-size: 16px;
    background-color: #2F2F2F;
    color: #ffffff;
    border-radius: 35px;
    padding: 10px 20px;
    width: 300px;
    text-align: center;
    height: 60px;
    position: fixed; /* Fixa o botão na tela */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-container img {
    width: 150px;
    margin-bottom: 10px;
}

.nav-links p {
    font-size: 19px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 200
;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.produtocontainer {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    flex: 1;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.produtos {
    display: flex;
    justify-content: space-around; /* Espaço uniforme entre as colunas */
    gap: 20px; /* Espaçamento entre as colunas */
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os produtos dentro da coluna */
}

.produtocard {
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: row; /* Organiza os elementos na horizontal */
    justify-content: space-between;
    background-color: #2F2F2F94;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 80px; /* Altura reduzida para 80px */
    font-family: "Poppins", sans-serif;
    text-align: justify;
    overflow: hidden; /* Garante que nada ultrapasse os limites do card */
}

.produtocard img {
    width: 25%; /* Ajusta o tamanho da imagem para caber no card */
    height: 100%; /* Ajusta o tamanho da imagem para caber no card */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    border-radius: 5px;
}

.produtoinfo {
    display: flex;
    flex-direction: column; /* Organiza os elementos na vertical */
    justify-content: space-between; /* Distribui os elementos dentro da coluna */
    flex: 1;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 12px; /* Reduz o tamanho da fonte para se ajustar ao espaço */
}

.descricao {
    font-size: 12px;
    color: #ffffff;
    margin: 5px 0;
    font-weight: 300;
    overflow: hidden; /* Garante que o texto longo não ultrapasse os limites */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto longo */
}

.detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    font-size: 12px;
}

.pontos {
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
}

.preco {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

h1 {
    margin-bottom: 20px;
    color: #1E1E1E;
    text-align: left;
    padding-left: 20px; /* Garante que o título não encoste na borda esquerda */
    font-size: 44px;
    font-weight: 500;
}

#finalizarpedido {
    font-size: 16px;
    background-color: #2F2F2F;
    color: #ffffff;
    border-radius: 35px;
    padding: 10px 20px;
    width: 300px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

body {
    background: linear-gradient(to bottom, rgba(119, 119, 119, 1), rgba(255, 255, 255, 0.8));
}

/* Modal Geral */
/* Estilo do modal */
/* Modal Geral */
/* Estilo do modal */
/* Modal Geral */
.modal {
   
    position: relative; /* Para que os elementos dentro do modal possam ser posicionados em relação a ele */
    display: none; /* Ocultar por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
    z-index: 2000; /* Valor mais alto para o modal aparecer acima do botão */
    justify-content: center;
    align-items: center;
}

/* Estilo do conteúdo do modal */
.modal-content {
    font-family: "Poppins", sans-serif; 
    display: flex;
    font-weight: 300;
    flex-direction: row;
    background-color: #f4f4f4;
    width: 90%; /* Aumenta a largura do modal */
    max-width: 800px; /* Define um limite máximo para largura */
    height: 60%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
}

/* Botão "Editar Cardápio" */
button#visualizarpedido {
    font-size: 16px;
    background-color: #2F2F2F;
    color: #ffffff;
    border-radius: 35px;
    padding: 10px 20px;
    width: 300px;
    text-align: center;
    height: 60px;
    position: fixed; /* Fixa o botão na tela */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Coloca o botão atrás do modal */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Botão Salvar */
/* Botão Salvar */
.btn-salvar {
    background-color: #1F1E1E; /* Cor de fundo escura */
    color: #ffffff; /* Texto branco */
    border: none;
    padding: 12px 25px; /* Tamanho maior que os outros botões */
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 16px; /* Tamanho do texto */
    font-weight: 200
; /* Negrito para destaque */
    position: absolute; /* Posiciona o botão de forma absoluta dentro do modal */
    bottom: 20px; /* Distância da parte inferior */
    right: 20px; /* Distância da direita */
    z-index: 100; /* Coloca o botão acima de outros elementos dentro do modal */
}
.modal-preco-container {
    position: absolute;
    bottom: 60px; /* Distância do fundo para colocar o preço acima do botão */
    right: 20px;
}




.btn-salvar:hover {
    background-color: #333333; /* Altera a cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
}

.btn-salvar:active {
    background-color: #444444; /* Cor mais escura quando o botão é clicado */
    transform: scale(1); /* Mantém o tamanho original ao clicar */
}


/* Imagem no modal */
.modal-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif; 
}

.modal-img {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
}

/* Detalhes do modal */
.modal-details {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #777777;
    font-weight: 300;
    font-family: "Poppins", sans-serif; 
}


.modal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.modal-nome {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
}

.modal-descricao {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0;
    font-weight: 300;
    font-size: 20px;
}

.modal-extra {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 20px 0;
}

.modal-pontos {
    position: absolute; /* Permite posicionar o elemento dentro do modal */
    top: 10px; /* Ajuste a distância do topo */
    right: 10px; /* Ajuste a distância da direita */
    color: #ffffff; /* Cor do texto */
    font-size: 14px; /* Tamanho do texto */
    font-weight: 300; /* Negrito para destaque */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Preço */
.modal-preco {
    font-size: 20px; /* Tamanho maior para o preço */
    font-weight: 200;
    color: #FFFFFF;/* Cor escura */
    display: inline-block;
    margin-bottom: 10px;
}

/* Botões */
.modal-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-family: "Poppins", sans-serif; 
}

.btn-personalizar {
    background-color: #1F1E1ED1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    width: 230px;
    font-family: "Poppins", sans-serif;     
}

.btn-adicionar {
    background-color: #1F1E1ED1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Poppins", sans-serif; 
    width: 230px;
}   

/* Botão de fechar */
.close {
    position: absolute;
    left: 10px;
    font-size: 38px;
    cursor: pointer;
    color: #333;
}

/* Estilo para o ícone de edição */
.edit-icon {
    position: absolute; /* Posiciona o ícone em relação ao produto */
    top: 10px;  /* Distância do topo */
    right: 10px; /* Distância da direita */
    font-size: 20px; /* Tamanho do ícone */
    color: #ffffff; /* Cor do ícone */
    cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
}

/* Efeito de hover no ícone */
.edit-icon:hover {
    color: #f0f0f0; /* Mudança de cor quando o mouse passar sobre o ícone */
}
