@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-left: 250px; /* Espaço para a navbar */
    position: relative;
    overflow: hidden;
}

main {
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

/* Estilo da Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #010101;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-weight: 200;
}

/* Estilo do conteúdo da Navbar */
.logo-container img {
    width: 150px;
    margin-bottom: 10px;
}

.logo-container {
    text-align: center;
    margin-bottom: 40px;
}

.nav-links p {
    font-size: 19px;
    margin: 0;
    margin-bottom: 20px;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Estilos para a Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #eaeaea;
}

/* Estilo para os botões */
.form-btn {
  background-color: #000;  /* Fundo preto */
  color: #fff;             /* Letra branca */
  padding: 10px 20px;      /* Espaçamento interno */
  border: none;            /* Remover borda */
  border-radius: 25px;     /* Arredondar os cantos */
  font-size: 16px;         /* Tamanho da fonte */
  cursor: pointer;        /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s;  /* Transição suave para a cor de fundo */
  margin-right: 10px;      /* Espaço entre os botões */
}

.form-btn:hover {
  background-color: #333;  /* Muda a cor do fundo quando o mouse passa em cima */
}

/* Estilo para os inputs */
.input-field {
    width: 100%; /* Garante que os inputs ocupem 100% da largura disponível */
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Garante que o padding e borda não saiam da área do input */
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Estilo do botão Adicionar no canto superior direito */
#openModal {
  background-color: #000;  /* Fundo preto */
  color: #fff;             /* Letra branca */
  padding: 10px 20px;      /* Espaçamento interno */
  border: none;            /* Remover borda */
  border-radius: 25px;     /* Arredondar os cantos */
  font-size: 16px;         /* Tamanho da fonte */
  cursor: pointer;        /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s;  /* Transição suave para a cor de fundo */
  position: fixed;         /* Fixa o botão em relação à janela */
  top: 20px;               /* Distância do topo */
  right: 20px;             /* Distância da borda direita */
  z-index: 100;            /* Garante que o botão ficará sobre outros elementos */
}

#openModal:hover {
  background-color: #333;  /* Muda a cor do fundo quando o mouse passa em cima */
}

/* Estilo para o Modal */
.modal {
  display: none; /* Esconde o modal por padrão */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px; /* Aumentando o padding */
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra mais suave */
  border-radius: 8px; /* Bordas arredondadas */
  max-width: 400px; /* Definindo uma largura máxima para o modal */
  width: 100%; /* Faz com que o modal ocupe 100% da largura até o limite de max-width */
  box-sizing: border-box; /* Garante que o padding seja incluído no cálculo da largura */
  overflow: auto; /* Adiciona rolagem caso o conteúdo ultrapasse o limite */
}

/* Conteúdo do Modal */
.modal-content {
  background-color: white;
  padding: 20px; /* Adicionando mais padding para espaçamento */
  border-radius: 8px; /* Bordas arredondadas */
  width: 100%; /* Garante que o conteúdo do modal ocupe a largura disponível */
  text-align: left; /* Alinhando o conteúdo à esquerda */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para o conteúdo */
  box-sizing: border-box; /* Garante que o padding seja incluído no cálculo da largura */
  max-height: 80vh; /* Limita a altura do conteúdo do modal */
  overflow-y: auto; /* Adiciona rolagem vertical caso o conteúdo seja maior que a altura disponível */
}

/* Estilo do botão Fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px; /* Aumenta o tamanho da fonte */
  color: #888;
  cursor: pointer;
}

.close:hover {
  color: #000; /* Cor ao passar o mouse */
}

