@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');


body {
    height: 100vh; /* Altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove margens padrão */
    background: linear-gradient(#010101, #2F2F2F); /* Gradiente já configurado */
    font-family: "Poppins", sans-serif;

}

main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adiciona espaço interno */
    border-radius: 15px; /* Arredonda os cantos do contêiner */
    
}


a{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
    margin-top: 20px;
 }

 main img {
    width: 150px; /* Ajuste o tamanho da logo conforme necessário */
 }


input{
    font-weight: 300;
    font-size: 16px;
   
}

input[type="text"]{
width: 550px;
height: 40px;
border-radius: 35px;
text-indent: 20px; 
height: 55px;

}
input[type="password"]{
width: 550px;
height: 40px;
border-radius: 35px;
text-indent: 20px; 
height: 55px;

}
input[type="submit"]{
    width: 550px;
    height: 55px;
    cursor: pointer;
    border-radius: 35px;
    background-color: #1F1E1E;
    color: #fff;
    border: none;
    font-weight: 600;
}

form{
display: flex;
flex-direction: column;
gap: 30px;
border: none;
}


main img{
    position: relative;
    top: 40px;
    width: 240px;
    
}

#acesso{
    color: #FFFFFF;
    font-size: 35px;
    margin-top: 20px    ;

}

#cadastrarfuncionario{
    border: none;
}